/* SCSS HEX */
$sky-blue: #78c0e0ff;
$celestial-blue: #449dd1ff;
$navy-blue: #150578ff;
$federal-blue: #0e0e52ff;
$violet-blue: #3943b7ff;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #78c0e0ff, #449dd1ff, #150578ff, #0e0e52ff, #3943b7ff);
$gradient-right: linear-gradient(90deg, #78c0e0ff, #449dd1ff, #150578ff, #0e0e52ff, #3943b7ff);
$gradient-bottom: linear-gradient(180deg, #78c0e0ff, #449dd1ff, #150578ff, #0e0e52ff, #3943b7ff);
$gradient-left: linear-gradient(270deg, #78c0e0ff, #449dd1ff, #150578ff, #0e0e52ff, #3943b7ff);
$gradient-top-right: linear-gradient(45deg, #78c0e0ff, #449dd1ff, #150578ff, #0e0e52ff, #3943b7ff);
$gradient-bottom-right: linear-gradient(135deg, #78c0e0ff, #449dd1ff, #150578ff, #0e0e52ff, #3943b7ff);
$gradient-top-left: linear-gradient(225deg, #78c0e0ff, #449dd1ff, #150578ff, #0e0e52ff, #3943b7ff);
$gradient-bottom-left: linear-gradient(315deg, #78c0e0ff, #449dd1ff, #150578ff, #0e0e52ff, #3943b7ff);
$gradient-radial: radial-gradient(#78c0e0ff, #449dd1ff, #150578ff, #0e0e52ff, #3943b7ff);